@import "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: cursive, serif, sans-serif;
}

body {
    background-color: #e7f6ff;
}

h1 {
    text-align: center;
    color: #778899;
    margin-top: 15px;
    text-shadow: 1px 1px 3px #a2d2ff;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 720px;
}

.buttons {
    padding: 5px 22px;
    font-family: Concert One;
    color: #002855;
    background-color: #a2d2ff;
    border: 2px solid #778899;
    border-radius: 6px;
    font-size: 24px;
}

#container {
    display: flex;
    margin: 0 auto;
    text-align: center;
    height: 720px;
    width: 720px;
    justify-content: center;
    border: 3px solid #778899;
    border-radius: 5px;
    background-color: white;
}

#custom-input {
    width: 60px;
}

